---
import Header from "../components/Header.astro";

const { title, bgMobile, bgTablet, bgDesktop } = Astro.props;
//const index = listItems.findIndex( arr => arr[2] === Astro.url.pathname);
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Space tourism website</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class=`mx-6 text-[#D0D6D9] bg-cover font-barlow text-[clamp(15px,2.09vw,18px)] ${bgMobile} ${bgTablet} ${bgDesktop}
              md:grid md:grid-cols-[repeat(12,minmax(48px,1fr))] md:gap-x-[10px] md:grid-rows-[repeat(17,60px)] md:gap-y-3
              lg:grid-cols-[repeat(12,65px)] lg:gap-x-[30px] lg:grid-rows-[repeat(auto-fill,minmax(60px,1fr))]
              lg:m-auto lg:w-fit lg:h-screen`>
    <Header />
    <slot />
  </body>
  <script>
    import "../scripts/hamburger.js";
  </script>
</html>
