---
import Header from "../components/Header.astro";
const listItemStyle = "mr-3 md:hidden lg:inline";
const listItems = [
          ["00","HOME", "/", listItemStyle],
          ["01","DESTINATION", "/destination/", listItemStyle, "PICK YOUR DESTINATION"],
          ["02","CREW", "/crew/", listItemStyle, "MEET YOUR CREW"],
          ["03","TECHNOLOGY", "/technology/", listItemStyle, "SPACE LAUNCH 101"],
        ];
const { title, bgMobile, bgTablet, bgDesktop } = Astro.props;
const index = listItems.findIndex( arr => arr[2] === Astro.url.pathname);
console.log(Astro.url.pathname.split("/"))
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Space tourism website</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class=`mx-6 text-[#D0D6D9] bg-cover font-barlow text-[clamp(15px,2.09vw,18px)] ${bgMobile} ${bgTablet} ${bgDesktop}
              md:grid md:grid-cols-[repeat(12,minmax(48px,1fr))] md:gap-x-[10px] md:grid-rows-[repeat(17,60px)] md:gap-y-3
              lg:grid-cols-[repeat(12,65px)] lg:gap-x-[30px] lg:grid-rows-[repeat(auto-fill,minmax(60px,1fr))]
              lg:m-auto lg:w-fit lg:h-screen`>
    <Header 
      listItems = {listItems}
    />
    {index > 0 && 
    <div class="flex justify-center gap-[18px] tracking-[clamp(2.7px,0.45vw,4.72px)] my-[10%] text-[clamp(16px,2.7vw,28px)] md:justify-start md:col-start-1 md:col-end-6 md:row-start-3 md:m-auto">
      <span class="font-bold opacity-[0.25]">{listItems[index][0]}</span><h1>{listItems[index][4]}</h1>
    </div>
    }
    <slot />
  </body>
  <script>
    import "../scripts/hamburger.js";
  </script>
</html>
