---
import BaseLayout from "../layouts/BaseLayout.astro";
import Banner from "../components/Banner.astro";
import Navbar from "../components/Navbar.astro";

const { crew } = Astro.props;
const routes = [
  ["", "/crew/"],
  ["", "/crew/specialist"],
  ["", "/crew/pilot"],
  ["", "/crew/engineer"],
];
---
<BaseLayout
  title={"Crew"}
  bgMobile={"bg-crew-mobile"}
  bgTablet={"md:bg-crew-tablet"}
  bgDesktop={"lg:bg-crew-desktop"}
>
    <figure class="border-b-[2px] border-b-[#383B4B] col-start-[2] col-end-[12] row-start-[8] h-fit md:border-b-0">
      <img src={crew.images.webp} alt=`Photo of ${crew.name} - ${crew.role}` class="h-[223px] md:h-[532px] mx-auto">
    </figure>
  <main class="mt-8 text-center flex flex-col gap-5 h-fit md:flex-col-reverse md:col-start-3 md:col-end-11 md:row-start-[4]  lg:text-start lg:col-start-8 lg:col-end-[-1] lg:row-start-5">
    <Navbar
      routes={routes}
      listStyles={"w-[88px] md:w-[88px]"}
      listItemStyle={"rounded-full h-[10px] w-[10px] bg-white opacity-[17.44%] hover:cursor"}
      extraItemStyle={"opacity-100"}
      navStyles={""}
    />
    <section>
      <span class="text-white opacity-[49.51%] font-bellefair text-base md:text-2xl">{crew.role.toUpperCase()}</span>
      <h1 class="mt-2 font-bellefair text-2xl text-white md:text-[40px] lg:text-[100px]">{crew.name.toUpperCase()}</h1>
      <p class="leading-6 mt-4 md:leading-7">
        {crew.bio}
      </p>
    </section>
  </main>
</BaseLayout>
